@import url('../index.css');

.folder_content {
  cursor: default;
  overflow-y: auto; /* Enable vertical scrolling */
  flex-grow: 1; /* Allow the folder_content to grow within the container */
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: left;
  scrollbar-highlight-color: var(--window-color);
  background-color: var(--background-color);
  box-sizing: border-box;
    
}

.folder_top_bar {
  display: flex;
  background-color: var(--window-color);
  max-height: 60px;
  min-height: 40px;
  align-items: center;
  justify-content: start;
  box-sizing: border-box;
  
}

.top_bar_select {
  width: 35%;
  padding: 5px;
  margin-right: 1%;
  font-size: 0.8em;
  border-radius: 4px;
  background-color: var(--window-color);
  color: var(--text-color);
  border: 1px solid #fff;
}

.folder_top_bar input {
  width: 40%;
  height: 60%;
  margin: 2px;
  border-radius: 4px;
  border: 1px solid #fff;
  margin-right: 1%;
  background-color: var(--window-color);
  color: var(--text-color);}


.folder_top_bar input::placeholder {
  color: gray; /* Set the placeholder text color to gray */
}
.folder_top_bar button {
  background-color: var(--window-color);
  color: var(--text-color);
  height: 60%;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
}

.folder_top_bar button:disabled {
  color: grey;
  cursor: not-allowed;
}

.folder_top_bar button img{
  width: 100%;
  height: 100%;
}


.folder_entry_linear {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    align-content: center;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 0.5%;
    width: 100%;
    box-sizing: border-box;
}

.folder_entry_linear:hover {
    background-color: #d1d0e5;
    border: 1px solid #d1d0e5;
  
}

.folder_entry_linear img { 
    min-width: 20px;
    min-height: 20px;
    height: 3vh;
    width: 3vh;
    cursor: pointer;
    margin-left: 2%;
    margin-right: 1%;
  }
  
  .folder_entry_linear p { 
    max-width: 90%;
    padding: 5px;
    text-align: center;
    word-break: keep-all;
    transition: transform 0.3s;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;     
    text-overflow: ellipsis; 
  }

.tooltip-container {
  position: relative;
}

.line_tooltip {
  position: absolute;
  top: 30%;
  left: 80%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
  pointer-events: none;
  z-index: 1000;
}

