@import url('../index.css');

.app_window {
  font-family: 'Courier New', Courier, monospace;
  border-radius: 3px;
  border: 1px solid var(--window-color);
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; 
  box-sizing: border-box;
  pointer-events: auto; /* Allows clicks to pass through this div */ 
}


.app_bar {
    display: flex;
    background-color: var(--window-color);
    padding-inline: 1%;
    cursor: move;
    max-height: 55px;
    min-height: 20px;
    align-items: center;
    align-items: space-between;
    justify-content: space-between;
    position: -webkit-sticky; /* For Safari */
    pointer-events: auto;
}

.windows_bar_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
}

.windows_bar_header img{
  max-height: 50px;
  max-width: 50px;
  height: 1.7vh;
  margin: 7px 10px 7px 5px;
}

.bar_header {
    text-align: center;
    align-items: center;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    padding: 1% 3%;
    text-overflow: ellipsis; 
}

.bar_header:first-letter {
  text-transform: uppercase;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 20%;
    cursor: pointer;
    box-sizing: border-box;
    width: auto;
    margin-right: 2px;
  }

.button_disabled {
  background-color: grey;
  pointer-events: none;
}

/* Mac buttons */


.mac_button {
  width: 30%;
  min-width: 12px;
  min-height: 12px;
  border-radius: 100%;
  margin-right: 3px;
  margin-left: 3px;
  cursor: pointer;
  font-size: xx-small;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1px;
}


.mac_button div {
  opacity: 0;
}

.mac_button:hover div {
  opacity: 1;
}

.mac_button_close {
    background-color: #ff5f56;
}
  
.mac_button_minimize {
  background-color: #ffbd2e;
}

.mac_button_maximize {
  background-color: #27c93f;
  transform: rotate(-45deg); 
}

/* Windows buttons */

.windows_bar_button {
  background-color: var(--window-color);
  border: 1px solid var(--window-color);
  color: var(--text-color);
  margin: 3px;
}

.windows_bar_button:hover {
  border: 1px solid grey;
}

.window_button_close {
    background-color: #ff5f56;
}

.window_button_minimize {
  background-color: #ffbd2e;
}

.window_button_maximize {
  background-color: #27c93f;
}


/* Ubuntu buttons */


.ubuntu_button {
  width: 30%;
  min-width: 12px;
  min-height: 12px;
  border-radius: 100%;
  margin-right: 3px;
  margin-left: 3px;
  cursor: pointer;
  font-size: xx-small;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1px;
  color: var(--text-color);
  border: 1px solid grey;
}

.ubuntu_button div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: center;
}
