@import url('../index.css');

.app_window {
  font-family: 'Courier New', Courier, monospace;
  border-radius: 3px;
  border: 1px solid var(--window-color);
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; 
  box-sizing: border-box;
  pointer-events: auto; /* Allows clicks to pass through this div */
  
}


.app_bar {
    display: flex;
    background-color: var(--window-color);
    padding-inline: 1%;
    cursor: move;
    max-height: 55px;
    min-height: 20px;
    align-items: center;
    align-items: space-between;
    justify-content: space-between;
    position: -webkit-sticky; /* For Safari */
    pointer-events: auto;
}

.bar_header {
    text-align: center;
    align-items: center;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    padding: 1% 3%;
    text-overflow: ellipsis; 
}

.bar_header:first-letter {
  text-transform: uppercase;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 20%;
    cursor: pointer;
    box-sizing: border-box;
   width: auto; /* Adjust width based on content */
  }

.bar_button {
    width: 30%;
    min-width: 12px;
    min-height: 12px;
    border-radius: 100%;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
}

.close {
    background-color: #ff5f56;
  }
  
  .minimize {
    background-color: #ffbd2e;
  }
  
  .disabled {
    background-color: #838281;
    pointer-events: none;
  }

  .maximize {
    background-color: #27c93f;
  }

  