.desktop {
    align-self: flex-start;
    display: flex;
    align-items: self-start;
    align-content: flex-start;
    flex-wrap: wrap;
    background: none;
    height: 100%;
    width: 100%;
    height: fit-content;
    z-index: 0;
    padding: 1.5%;
}

.desktop_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 12px;
    margin-right: 12px;
    transition: transform 0.3s;
    width: 8vw;
    padding: 0.5%;
    cursor:'pointer';
}

  .desktop_icon img {
    margin: 0px 0px 0px 0px;
    width: 50%;
    height: 50%;
    max-height: 60px;
    min-width: 60px;
    transition: transform 0.3s;
    cursor: pointer;
  }
  
  .desktop_icon:hover img {
    transform: scale(1.2);
  }

  .desktop_icon p {
    color: #fff;
    cursor: move;
    font-size: 1.2vw;
    word-break: break-all;
    text-overflow: ellipsis; 
  }

  .desktop_icon p:first-letter {
    text-transform: uppercase;
}