@import url('../index.css');

.dock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
    position: fixed;
    bottom: 10px;
    /* background-color: rgba(0, 0, 0, 0.2);  black color with 50% opacity */
    /*background: var(--background-color);*/
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 1%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 0;
  }

.windows_dock {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
  bottom: 0px;
  padding: 0.5%;
  background-color: rgba(182, 246, 251, 0.505);
  gap: 1%;
  border-radius: 1px;
}


.ubuntu_dock {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
  bottom: 0px;
  padding: 0.5%;
  background-color: rgba(67, 74, 77, 0.226);
  gap: 1%;
  border-radius: 1px;
}

.dark {
  background-color: var(--window-color);
}