/* OpenWindowsSpace.css */

.open-windows-space {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: transparent; 
    z-index: 1;
    max-width: 100vw;
    max-height: 100vh;
    pointer-events: none; /* Allow clicks to pass through */
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    position: absolute;
    
}
