

.term_window {
    border-radius: 2%;
    background-color: #282c34;
    border: 3px solid #fff;
    color: green;
    margin: 2px;
    font-family: 'Courier New', Courier, monospace;
    overflow: scroll;  
    cursor: move; /* Indicate that the top bar is draggable */
    z-index: 2;
    display: flex;
    flex-direction: column;
    overflow-wrap: normal;
}

.term_content {
    min-height: 30vh;
    width: 100%;
    cursor: default;
    max-height: 99vh;
    
}


.term_bar {
    display: flex;
    background-color: rgb(209, 211, 219);
    padding-inline: 1%;
    max-height: 55px;
    min-height: 20px;
    align-items: center;
    align-items: space-between;
    justify-content: space-between;
}



.bar_header {
    text-align: center;
    align-items: center;
    width: 80%;
    margin-left: 2px;
    margin-right: 2px;
}

.bar_header:first-letter {
  text-transform: uppercase;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 20%;
    cursor: pointer;
    box-sizing: border-box;
   width: auto; /* Adjust width based on content */
  }

.bar_button {
    width: 30%;
    min-width: 12px;
    min-height: 12px;
    border-radius: 100%;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
  }

.close {
    background-color: #ff5f56;
  }
  
  .minimize {
    background-color: #ffbd2e;
  }
  
  .disabled {
    background-color: #838281;
    pointer-events: none;
  }

  .maximize {
    background-color: #27c93f;
  }

  .input {
    width: 95%;
    background: #282c34;
    color: green;
    border: none;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
   
  }

.prompt_line{
    display: flex;
    padding-inline: 1%;
}

.output_line{
    display: flex;
    padding-inline: 1%;
}