@import url('index.css');

.App {
  text-align: center;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  display: flex;
  color: var(--text-color);
  background: linear-gradient(45deg, #d14114, #77116f, #512750, #2a001e, #5e2750, #77216f);
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.suspended_screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding: 2%;
}

.suspended_screen button {
  margin-top: 1.5%;
  border-radius: 5px;
  color: var(--text-color);
  background-color: var(--window-color);
  border: 1px solid var(--reverse-background-color);
}

.suspended_screen img {
  max-width: 100px;
  max-height: 100px;
}

.octocat {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: max(10%, 80px);
  width: max(8%, 80px);
}