

:root {
  --background-color: #ffffff;
  --reverse-background-color: #232239;
  --text-color: #000000;
  --reverse-text-color: #ffffff;
  --window-color: rgb(209, 211, 219);
  --background: linear-gradient(190deg, #f8e08e 0%, #f3ca82 25%, #a97367 50%, #534277 75%, #091d68 100%);
}

[data-theme='dark'] {
  --background-color: #232239;
  --reverse-background-color: #ffffff;
  --text-color: #ffffff;
  --reverse-text-color: #000000;
  --window-color: rgb(94, 94, 97);
}

[os-feel='Windows'] {
  --background: linear-gradient(90deg, #229ad6, #113c77, #14168b);
}

[os-feel='Ubuntu'] {
  --background: linear-gradient(45deg, #af3a16, #77116f, #512750, #2a001e, #5e2750, #77216f);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
