

:root {
  --background-color: #ffffff;
  --reverse-background-color: #232239;
  --text-color: #000000;
  --reverse-text-color: #ffffff;
  --window-color: rgb(209, 211, 219);
}

[data-theme='dark'] {
  --background-color: #232239;
  --reverse-background-color: #ffffff;
  --text-color: #ffffff;
  --reverse-text-color: #000000;
  --window-color: rgb(94, 94, 97);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
